.demo > p{
    color: red;
}
.demo p + b{
    font-size: 30px;
}
/* .demo p ~ b{
    font-size: 50px;
} */


a:link{
    color: red;
}
a:hover{
    color: black;
}
a:active{
    color: green;
}
a:visited{
    color: yellow;
}
ul li:first-child{
    color: red;
}
ul li:last-child{
    color: yellow;
}
ul li:nth-child(3){
    color: blue;
}

input:focus{
    outline: none;
    border: 1px dotted green;
}