@font-face {
    font-family: cavir_dream;
    src: url(../font/Caviar_Dream/Caviar_Dreams_Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: cavir_dream;
    src: url(../font/Caviar_Dream/CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: cavir_dream;
    font-weight: normal;
}
.container {
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: -5px 5px 15px rgba(0,0,0,0.5);
}
.part1 {
    width: 50%;
    height: 100%;
    float: left;
    padding: 40px;
    text-align: center;
}
.part1 h1{ 
    padding: 10px 0px;
    color: maroon;
    font-size: 40px;
}
.social_icon p {
    margin: 15px 0px;
    color: dimgray;
}
.social_icon {
    margin: 15px auto;
}
.fb{
    margin-right: 40px;
}
.social_icon a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid maroon;
    color: maroon;
    display: inline-block;
    font-size: 25px;
    padding: 9px;
}
.social_icon a:hover{
    color: white;
    background-color: maroon;
    transition: 0.4s;
}
.social_icon .or_use{
    margin-top: 30px;
}
.email_pass{
    width: 67%;
    padding: 15px;
    margin-top: 5px;
    font-size: 16px;
    background-color: rgb(237, 230, 230);
    border: none;
    outline: none;
    margin-bottom: 13px;
}
.forgot_pass{
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    color: maroon;
}
.button-div{
    margin: 30px auto;
}
button{
    border: 1px solid maroon;
    border-radius: 25px;
    margin: 10px auto;
    padding: 10px 25px;
    background-color: maroon;
    color: white;
    font-size: 18px;
    width: 121px;
}
button:hover{
    background-color: white;
    color: maroon;
    cursor: pointer;
    transition: 0.4s;
}
.part2{
    width: 700px;
    height: 700px;
    float: right;
    background-image: url(../photo/banner.webp);
    background-size: cover;
    background-position: center right;
    border-radius: 50% 0 0 50%;
    position: absolute;
    top: -48px;
    left: 50%;
}