*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.main{
    width: 1000px;
    min-height: 500px;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
.page{
    width: 50%;
    min-height: 500px;
    float: left;
}
.page form{
    text-align: center;
    padding: 25px 40px;
}
.page form h1{
    margin-bottom: 25px;
    color: red;
    font-weight: 400;
}
.para{
    opacity: 0.5;
    font-family: cursive;
    font-family: 'Josefin Sans', sans-serif;
}
.icon{
    margin: 15px auto;
}
.fb{
    margin-right: 30px;
}
.icon a{
    width: 50px;
    height: 50px;
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 11px;
    font-size: 25px;
    
}
.icon a:hover{
    color: white;
    background-color: red;
}
.email{
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(237, 230, 230);
    border: none;
    outline: none;
}
.password{
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(237, 230, 230);
    border: none;
    outline: none;
}
.para3{
    color: red;
    font-weight: 600;
}
button{
    border: 1px solid red;
    border-radius: 25px;
    margin: 25px auto;
    padding: 10px 25px;
    background-color: red;
    color: white;
    font-size: 20px;
}
button:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}   




/* logo css */
.logo{
    width: 600px;
    height: 600px;
    float: right;
    background-image: url(../photo/banner.webp);
    background-size: cover;
    background-position: center right;
    border-radius: 50% 0 0 50%;
    position: absolute;
    top: -50px;
    left: 50%;
}