*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul{
    list-style-type: none;
}

nav{
    background-color: rgb(97, 134, 226);
    padding: 0 50px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: red;
}

nav > ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

nav > ul > li{
    /* margin: 0 15px; */
    padding: 25px;
    position: relative;
}

nav > ul > li:hover{
    background-color: rgb(70, 92, 146);
}

nav > ul > li > a{
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
}

.submenu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(97, 134, 226);
    display: none;
}

nav > ul > li:hover .submenu{
    display: initial;
}

.submenu li {
    padding: 7px 0px;
}

.submenu li:hover {
    background-color: rgb(70, 92, 146);
}

.submenu li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
}

nav > ul > li > a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s linear;
}

nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.bar{
    color: black;
    font-size: 30px;
    display: none;
}


@media screen and (max-width:991px) {
    
    nav{
        padding: 0 50px;
        position: relative;
    }
    nav ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(70, 92, 146);
        top: 100%;
        flex-direction: column;
        align-items: center;
        left: -100%;
        transition: all .5s;
    }
    .submenu{
        position: relative;
        top: 0;
        left: 0;
        text-align: left;
    }
    nav ul li{
        /* margin: 20px 0; */
    }
    .sliderbar{
        left: 0;
    }
    .bar{
        display: block;
    }
}